Silverlight/MenuDemo/SilverlightMenu/Service References/MenuDemoService/MenuDemo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightMenu.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightMenu.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuData" nillable="true" type="tns:MenuData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuData" nillable="true" type="tns:ArrayOfMenuData" />
  <xs:complexType name="MenuData">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsTop" type="xs:boolean" />
      <xs:element minOccurs="0" name="MenuItems" nillable="true" type="tns:ArrayOfMenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuData" nillable="true" type="tns:MenuData" />
  <xs:complexType name="ArrayOfMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuItem" nillable="true" type="tns:MenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuItem" nillable="true" type="tns:ArrayOfMenuItem" />
  <xs:complexType name="MenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuItem" nillable="true" type="tns:MenuItem" />
</xs:schema>